/**
 * @name Mocos
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://fonts.googleapis.com/css2?family=:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');

:root {
  --accent-hue: 186;
  --accent-saturation: 67%;
  --accent-brightness: 49%;
  --background-accent-hue: 200;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 45%;
  --background-image: initial; /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 8px;
  --background-overlay-opacity: 53%;
  --background-overlay-color-lightness: -0.71;
  --background-hue-shift-strength: 89%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 60%;
  --window-blur: 15;
  --window-friends-blur: 7;
  --window-margin: 15;
  --window-margin-left: 0;
  --window-border-radius: 13px;
  --window-background-lightness: 0;
  --window-accent-tint-strength: 27%;
  --chat-bubble: 1;
  --text-link-hue: 212;
  --chat-text-brightness: 0;
  --home-icon: initial;
  --favorites-icon: initial;
  --dock-blur: 19; /* Blur intensity of the dock. */
  --dock-border-radius: 0.09;
  --sidebar-width: 231px;
  --members-width: 230px;
  --sidebar-text-brightness: 0;
  --background-floating-blur: 25px;
  --floating-background-lightness: 0;
  --background-floating-opacity: 0.48;
  --enable-floating-transparency: 1;
  --custom-font-display: "";
  --custom-font-regular: Mona Sans;
  --custom-font-primary: "";
  --custom-font-code: "";
  --enable-blur: 1;
}

/* Any custom CSS below here */


